@model IEnumerable<TutorialASP_net.Models.MensajesChat>
<div class="messageBox" id="messageBox" ondragover="dragOverHandler(event)">
    @if (Model != null)
    {
        <input type="hidden" value="@ViewBag.idroom" id="idRoom" />
        <input type="hidden" value="@ViewBag.lastMsgId" id="lastMsgId" />
        <input type="hidden" value="@ViewBag.lastMsgOnRoom" id="lastMsgOnRoom" />
        <input type="hidden" value="@ViewBag.listMessages" id="listIdMsgNoView" />
        foreach (var msg in Model)
        {
            if (msg.lastMsgId != @ViewBag.lastMsgOnRoom)
            {
                if (msg.lastMsgId == msg.msgid)
                {
                    <div id="beginchat" style="width:100%;background:purple;color:white;font-weight:bold;text-align:center;">
                        Bienvenido de Nuevo
                    </div>
                }
                else if (msg.lastMsgId < @ViewBag.lastMsgOnRoom)
                {
                    if (msg.lastMsgId == msg.msgid)
                    {
                        <div id="beginchat" style="width:100%;background:purple;color:white;font-weight:bold;text-align:center;">
                            Bienvenido de Nuevo
                        </div>
                    }
                }

            }
            else
            {
                if (msg.lastMsgId == msg.msgid)
                {
                    <div id="beginchat" style="width:100%;background:purple;color:white;font-weight:bold;text-align:center;">
                        Bienvenido de Nuevo
                    </div>
                }
            }
            if (msg.userid == (int)Session["userid"])
            {
                switch (msg.msgtype)
                {
                    case 1:
                        <div class="outgoing_msg" id="msg_@msg.msgid">
                            <div class="sent_msg">
                                <p class="message">
                                    @msg.mensaje
                                </p>
                                <span class="time_date"> @msg.fechamsg</span>
                            </div>
                        </div>
                        break;
                    case 2:
                        <div class='outgoing_msg' id="msg_@msg.msgid">
                            <div class='sent_msg'>
                                <img class='img-fluid' src='@msg.mensaje' />
                                <span class='time_date'> @DateTime.Now</span>
                            </div>
                        </div>
                        break;

                    case 3:
                        <div class='outgoing_msg' id="msg_@msg.msgid" oncontextmenu="MenuImagen('@msg.mensaje','msg_@msg.msgid')">
                            <div class='sent_msg'>
                                <img class='img-fluid' src='@msg.mensaje' />
                                <span class='time_date'> @DateTime.Now</span>
                            </div>
                        </div>
                        break;
                    default:
                        <div class='outgoing_msg' id="msg_@msg.msgid">
                            <div class='sent_msg'>
                                <div class="row" style="background: gray; border-radius: 5px; background: #05728f none repeat scroll 0 0;">
                                    <a href="/Chat/DownLoadFile?ruta=@msg.mensaje" class="col-md-3" style="color:black;text-align: center; margin-top: 5%; margin-bottom:5%">
                                        <i class="fa-sharp fa-solid fa-file  fa-3x" style="width:100%"></i>
                                    </a>
                                    <div class="col-md-9"style=" margin-top: 5%; margin-bottom:5%" >
                                        <b>@msg.mensaje.Split('/')[6]</b>
                                    </div>
                                    
                                </div>
                                <span class='time_date'> @DateTime.Now</span>
                            </div>
                        </div>
                        break;
                }

            }
            else
            {
                switch (msg.msgtype)
                {
                    case 1:
                        <div class="incoming_msg" id="msg_@msg.msgid">
                            <div class="incoming_msg_img"> <img style="width: 50%;" src="@msg.photoprofile" alt="sunil"> </div>
                            <div class="received_msg">
                                <div class="received_withd_msg">
                                    <p>
                                        <div class="col-md-12 username">
                                            @msg.username @if (msg.roleuser == 2)
                                            {<span class="administrator"><i class="fa-solid fa-user-shield"></i> - Administrador</span> }
                                            else if (msg.roleuser == 3)
                                            { <span class="superadmin"><i class="fa-solid fa-user-shield"></i> - Super Administrador</span>}
                                        </div>
                                        <div class="col-md-12 message">@msg.mensaje</div>
                                    </p>
                                    <span class="time_date"> @msg.fechamsg</span>
                                </div>
                            </div>
                        </div>
                        break;
                    case 2:
                        <div class="incoming_msg" id="msg_@msg.msgid">
                            <div class="incoming_msg_img"> <img style="width: 50%;" src="@msg.photoprofile" alt="sunil"> </div>
                            <div class="received_msg">
                                <div class="received_withd_msg">
                                    <div class="col-md-6 username">
                                        @msg.username @if (msg.roleuser == 2)
                                        {<span class="administrator"><i class="fa-solid fa-user-shield"></i> - Administrador</span> }
                                        else if (msg.roleuser == 3)
                                        { <span class="superadmin"><i class="fa-solid fa-user-shield"></i> - Super Administrador</span>}
                                    </div>
                                    <div class="col-md-6 message"><img class="img-fluid" src="@msg.mensaje" /></div>
                                    <span class="time_date"> @msg.fechamsg</span>
                                </div>
                            </div>
                        </div>
                        break;
                    case 3:
                        <div class="incoming_msg" id="msg_@msg.msgid">
                            <div class="incoming_msg_img"> <img style="width: 50%;" src="@msg.photoprofile" alt="sunil"> </div>
                            <div class="received_msg">
                                <div class="received_withd_msg">
                                    <div class="col-md-6 username">
                                        @msg.username @if (msg.roleuser == 2)
                                        {<span class="administrator"><i class="fa-solid fa-user-shield"></i> - Administrador</span> }
                                        else if (msg.roleuser == 3)
                                        { <span class="superadmin"><i class="fa-solid fa-user-shield"></i> - Super Administrador</span>}
                                    </div>
                                    <div class="col-md-6 message"><img class="img-fluid" src="@msg.mensaje" /></div>
                                    <span class="time_date"> @msg.fechamsg</span>
                                </div>
                            </div>
                        </div>
                        break;
                    default:
                        <div class="incoming_msg" id="msg_@msg.msgid">
                            <div class="incoming_msg_img"> <img style="width: 50%;" src="@msg.photoprofile" alt="sunil"> </div>
                            <div class="received_msg">
                                <div class="received_withd_msg">
                                    <div class="col-md-6 username">
                                        @msg.username @if (msg.roleuser == 2)
                                        {<span class="administrator"><i class="fa-solid fa-user-shield"></i> - Administrador</span> }
                                        else if (msg.roleuser == 3)
                                        { <span class="superadmin"><i class="fa-solid fa-user-shield"></i> - Super Administrador</span>}
                                    </div>
                                    <div class="row" style="background: gray; border-radius: 5px; background: #ebebeb none repeat scroll 0 0; width:80%">
                                        <a href="/Chat/DownLoadFile?ruta=@msg.mensaje" class="col-md-3" style="color:black; text-align: center; margin-top: 5%; margin-bottom:5%">
                                            <i class="fa-sharp fa-solid fa-file  fa-3x" style="width:100%"></i>
                                        </a>
                                        <div class="col-md-9" style=" margin-top: 5%; margin-bottom:5%">
                                            <b>@msg.mensaje.Split('/')[6]</b>
                                        </div>

                                    </div>
                                    <span class="time_date"> @msg.fechamsg</span>
                                </div>
                            </div>
                        </div>
                        break;
                }

            }
        }
    }

</div>
<div class="bg-light SendBox">
    <form>
        
        <span id="NumCaracteres">250/250</span>
        <input class="form-control" id="txtMessage" placeholder="Mensaje" onkeyup="evalMessage()" />
        <a class="btn btn-primary disabled" id="btnSendMessage" onclick="sendMsg()"><i class="fas fa-paper-plane" aria-hidden="true"></i></a>
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modalStikers">
            <i class="fa-solid fa-face-smile"></i>
        </button>
        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#modalFilesUpload">
            <i class="fa-solid fa-image"></i>
        </button>
    </form>
</div>



