@{
    Layout = "~/Views/Shared/_ChatLayout.cshtml";
}

<div class="fixed-top navChat bg-light">

</div>
<div class="row">
    <div class="col-4 bg-light inboxChat" id="inboxChat">
        <div class="headind_srch">
            <div class="srch_bar">
                <div class="stylish-input-group">
                    <input type="text" class="search_bar" placeholder="Search">
                    <span class="input-group-addon">
                        <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
                    </span>
                </div>
            </div>
        </div>
        <form id="formChatSelected" action="" method="post">
            <input type="hidden" id="ChatSelect" value="0" />
            <input type="hidden" id="LastChatSelect" value="0" />
        </form>
        @foreach (var item in ViewBag.inboxList)
        {
            <div class="chat_list" onclick="LoadChat(@item.idroom)">

                <div class="chat_people">
                    <div class="chat_img"> <img class="img-fluid" src="@item.photoChat" alt="sunil"> </div>
                    <div class="chat_ib">
                        <h6>@item.roomname</h6><p><b><span class="chat_date">@item.lastMsgDate</span></b></p>
                        <p>
                            <b>@item.usernameLastMsg: </b>@item.lastMsg
                        </p>
                    </div>
                </div>

            </div>
        }
    </div>

    <div class="col-8 bg-light" id="chatRoomBox">
        <!--Lista de mensajes-->
        <h5 style="padding-top:50%">Selecciona un chat</h5>
    </div>

</div>
<input type="hidden" id="displayname" value="@Session["username"]" />
<input type="hidden" id="profileChatImg" value="@Session["photo"]" />
@section scripts{
    <script src="~/Scripts/jquery.signalR-2.2.2.js"></script>
    <script src="/signalr/hubs"></script>
    <script type="text/javascript">
        var lastMsgView = 0
        var lasMsgOnRoom = 0
        var scrollPos = 0
        document.getElementById("inboxChat").addEventListener("scroll", () => {
            console.log("sfdas")
        })
        function scrollMessages() {
            document.getElementById("messageBox").addEventListener("scroll", () => {
                for (var i = lastMsgView; i <= lasMsgOnRoom; i++) {
                    
                    var elem = document.getElementById('msg_' + i);
                    if (elem)
                    {
                        var clientRect = elem.getBoundingClientRect();

                        if (clientRect.top > window.innerHeight) {
                            lastMsgView = i
                            //console.log(clientRect.top + " " + lastMsgView);
                            //console.log("a");
                            break;
                        }
                    }
                }
                //scrollPos = (document.body.getBoundingClientRect()).top;
            })
        }
        window.addEventListener("load", function () {
            //console.log("ss")
        })

        function LoadChat(idChat) {
            $.ajax({
                type: "POST",
                url: "/Chat/ChatPartial?idroom=" + idChat,
                success: (response) => {
                    document.getElementById("chatRoomBox").innerHTML = response
                    if (document.getElementById("beginchat"))
                    {
                        document.getElementById("beginchat").scrollIntoView({ block: "center" })
                    }
                    
                    lastMsgView = document.getElementById("lastMsgId").value
                    lasMsgOnRoom = document.getElementById("lastMsgOnRoom").value
                    for (var i = lastMsgView; i <= lasMsgOnRoom; i++) {
                        var elem = document.getElementById('msg_' + i);
                        if (elem)
                        {
                            var clientRect = elem.getBoundingClientRect();

                            if (clientRect.top > window.innerHeight) {

                                lastMsgView = i
                                console.log(clientRect.top + " " + lastMsgView);
                                break;
                            }
                        }
                    }
                    
                    scrollMessages()
                    var lastChat=document.getElementById("LastChatSelect").value = document.getElementById("ChatSelect").value
                    document.getElementById("ChatSelect").value = idChat
                    //debugger;
                    var nameUser = document.getElementById("displayname").value
                    chat.server.removeFromGroup(lastChat, nameUser, lastMsgView);
                    chat.server.addToGroup(idChat, nameUser)
                    $("#txtMessage").focus()
                    
                }
            })

        }

        function sendMsg() {
            if ($("#txtMessage").val() != '') {
                var nameOwner = $("#displayname").val()
                var messageText = $("#txtMessage").val()
                var profileChatImg = $("#profileChatImg").val()
                var groupName = document.getElementById("ChatSelect").value
                chat.server.send(groupName, nameOwner, messageText, profileChatImg)
                $("#txtMessage").val("").focus()
                document.getElementById("btnSendMessage").classList.add("disabled")
                document.getElementById("NumCaracteres").innerHTML = "250/250"
            }

        }

        $.connection.hub.start().done(function () {
            
            window.addEventListener('unload', () => { var nameOwner = $("#displayname").val(); chat.server.removeFromGroup(document.getElementById("ChatSelect").value, nameOwner, lastMsgView);}, false);
            
        })
        
        var chat = $.connection.chatHub;
        chat.client.sendChat = function (name, message, profileChatImg) {
            var divName = $("<div />").text(name).html();
            var divMessage = $("<div />").text(message).html();
            var mensajenuevo = "";
            console.log(message)
            if (name == "AddGroup")
            {
                mensajenuevo = message;
            }
            else if (name == "RemoveToGroup")
            {
                mensajenuevo = message;
            }
            else if (name == $("#displayname").val())
            {
                mensajenuevo = "<div class='outgoing_msg'>"+
                                    "<div class='sent_msg'>"+
                                        "<p>"+
                                            message+
                                        "</p>"+
                                            "<span class='time_date'> @DateTime.Now</span>"+
                                    "</div>"+
                                "</div>"
            }
            else {
                mensajenuevo = '<div class="incoming_msg">' +
                            '<div class="incoming_msg_img"> <img style="width: 50%;" src="'+profileChatImg+'" alt="sunil"> </div>' +
                                '<div class="received_msg">'+
                                    '<div class="received_withd_msg">'+
                                        '<p>'+
                                            '<div class="col-md-12 username">'+
                                                    name+
                                            '</div>'+
                                            '<div class="col-md-12 message">'+message+'</div>'+
                                            '</p>'+
                                        '<span class="time_date"> @DateTime.Now</span>'+
                                    '</div>'+
                                '</div>'+
                            '</div>'
            }
            document.getElementById("messageBox").innerHTML += mensajenuevo
        }

        function evalMessage()
        {
            var mensaje = $("#txtMessage").val()
            if (mensaje == '') {
                document.getElementById("btnSendMessage").classList.add("disabled")
            }
            else {
                var noValido = /[A-Za-z0-9]+/;

                if (noValido.test(mensaje)) {
                    document.getElementById("btnSendMessage").classList.remove("disabled")
                } else {
                    $("#txtMessage").val("").focus()
                    mensaje = $("#txtMessage").val()

                }


            }
            var caractrest = 250 - mensaje.length
            document.getElementById("NumCaracteres").innerHTML = caractrest + "/250"

        }
    </script>
}

