@model IEnumerable<TutorialASP_net.Models.MensajesChat>
@{
    ViewBag.Title = "Index";
}

<h2>Sala de Chat</h2>
<div class="container">
    <div class="card text-center">
        <div class="card-header">
            <h1>Chat General</h1>
        </div>
        <div class="card-body inbox_chat" id="chatBox">
            @if (Model != null)
            {
                foreach (var msg in Model)
                {
                    if (msg.userid == (int)Session["userid"])
                    {
                        <div class="outgoing_msg">
                            <div class="sent_msg">
                                <p>
                                    @msg.mensaje
                                </p>
                                <span class="time_date"> @msg.fechamsg</span>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="incoming_msg">
                            <div class="incoming_msg_img"> <img style="width: 50%;" src="@msg.photoprofile" alt="sunil"> </div>
                            <div class="received_msg">
                                <div class="received_withd_msg">
                                    <p>
                                        @msg.mensaje
                                    </p>
                                    <span class="time_date"> @msg.fechamsg</span>
                                </div>
                            </div>
                        </div>
                    }
                }
            }


            @*<ul id="discusion">
            </ul>*@
        </div>
        <div class="card-footer text-muted">
            <div class="row col-md-12">
                <input type="text" class="form-control col-md-9" id="message" maxlength="250" />
                <input type="button" class="btn btn-success col-md-2 offset-md-1 disabled" id="sendmessage" value="Enviar" />
            </div>
            <div class="row col-md-5">
                <p id="NumCaracteres">250/250</p>
            </div>
        </div>
    </div>
    

</div>

<input type="hidden" id="displayname" value="@Session["username"]" />
<input type="hidden" id="profileChatImg" value="@Session["photo"]" />

@section scripts{
    <script src="~/Scripts/jquery.signalR-2.2.2.js"></script>
    <script src="/signalr/hubs"></script>
    <script type="text/javascript">
        $(function () {
            var chat = $.connection.chatHub;
            chat.client.sendChat = function (name, message, profileChatImg) {
                var divName = $("<div />").text(name).html();
                var divMessage = $("<div />").text(message).html();
                var mensajenuevo = "";
                if (name == $("#displayname").val())
                {
                    mensajenuevo = "<div class='outgoing_msg'>"+
                                        "<div class='sent_msg'>"+
                                            "<p>"+
                                                message+
                                            "</p>"+
                                                "<span class='time_date'> @DateTime.Now</span>"+
                                        "</div>"+
                                    "</div>"
                }
                else {
                    mensajenuevo = "<div class='incoming_msg'>"+
                        "<div class='incoming_msg_img'> <img style='width: 50%;' src='" + profileChatImg+"' alt='sunil'> </div>"+
                            "<div class='received_msg'>"+
                                "<div class='received_withd_msg'>"+
                                    "<p>"+
                                        message+
                                    "</p>"+
                                    "<span class='time_date'> @DateTime.Now</span>"+
                                "</div>"+
                            "</div>"+
                        "</div>"
                }
                //var elementolista = "<li><strong>" + divName + "</strong>:  " + divMessage + "</li >"
                //console.log(elementolista)
                //$("#discusion").append(elementolista)
                document.getElementById("chatBox").innerHTML += mensajenuevo
            }

            $("#message").focus()

            $.connection.hub.start().done(function () {
                $("#sendmessage").click(function () {
                    if ($("#message").val() != '') {
                        var nameOwner = $("#displayname").val()
                        var messageText = $("#message").val()
                        var profileChatImg = $("#profileChatImg").val()

                        chat.server.send(nameOwner, messageText, profileChatImg)
                        $("#message").val("").focus()
                        document.getElementById("sendmessage").classList.add("disabled")
                        document.getElementById("NumCaracteres").innerHTML = "250/250"
                    }

                })

            })

        })
        $("#message").keyup(function () {
            var mensaje = $("#message").val()
            if (mensaje == '') {
                document.getElementById("sendmessage").classList.add("disabled")
            }
            else {
                var noValido = /[A-Za-z0-9]+/;

                if (noValido.test(mensaje)) {
                    document.getElementById("sendmessage").classList.remove("disabled")
                } else {
                    $("#message").val("").focus()
                    mensaje = $("#message").val()
                    
                }
                

            }
            var caractrest = 250 - mensaje.length
            document.getElementById("NumCaracteres").innerHTML = caractrest+"/250"

        })
        
    </script>
}
