@model IEnumerable<TutorialASP_net.Models.Employee>
<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>ID de Departamento</th>
            <th>Departamento</th>
            <th>Address</th>
            <th colspan="3">Operaciones</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
        <tr>
            <td>@item.EmployeeID</td>
            <td>@item.Name</td>
            <td>@item.DepartmentId</td>
            <td>@item.DeptName</td>
            <td>@item.Address</td>
            <td>@item.Address</td>
            @if (Session["role"].ToString() == "1")
            {
                <td>@Html.ActionLink("Detalles", "EmployeeDetails", new { EmpID = item.EmployeeID }, new { @class = "btn btn-block btn-primary" })</td>
            }
            else
            {
                <td><a class="btn btn-warning" onclick="AddEditEmployee(@item.EmployeeID)"><i class="bi bi-pencil-square"></i></td>
                <td>@Html.ActionLink("Detalles", "EmployeeDetails", new { EmpID = item.EmployeeID }, new { @class = "btn btn-block btn-primary" })</td>
                <td><a class="btn btn-danger" onclick="ConfirmDelete(@item.EmployeeID)"><i class="bi bi-trash-fill"></i></a></td>
                @*<input type="hidden" value="@item.EmployeeID" id="employeeIdDelete" />*@
            }
        </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="3">
                    No existen nombres.
                </td>
            </tr>
        }

    </tbody>
</table>

